
<form class="form-inline" action="/answer" data-turbo="false">
  <div class="mx-0 row align-items-end">
    <div class="col-11 m-0 p-0">
      <label for="question">Ask your coach anything!</label>
      <input type="text" name="question" class="form-control">
    </div>
    <div class="col-1 m-0 p-0 ">
      <button type="submit" value="Ask!" class="btn btn-primary w-100 ">Ask</button>
    </div>
  </div>
</form>
